[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.6.0"
flask = "==0.12.2"
requests = "==2.18.4"
selenium = "==3.5.0"

[dev-packages]

[requires]
python_version = "3.8"